[2017-02-02 00:43] Slavrix opened #1 "Bundle command doesn't run"
Im following the updated whatsapp tutorial and when it comes to using the bundler it doesnt work on my system.
im building on windows 10 64bit.
ive tried with both a normal cmd windows and with admin
the same code and scripts and everything works on my macbook, so it seems to be a windows compatibility issue.
[code]

[2017-02-02 01:07] DAB0mB commented on #1
@Slavrix Do you have `meteor` CLI installed?

[2017-02-02 01:18] Slavrix commented on #1
yes I do

[2017-02-02 03:10] DAB0mB commented on #1
Ok, I took notes, I will try to fix it asap and I will let you know

[2017-02-02 19:39] DAB0mB commented on #1
@Slavrix We've just released a new version with Windows support, can you please try it out? Tell me if it works now, thanks!

[2017-02-03 05:56] Slavrix commented on #1
looks like its working to me.
nice job and thanks.
time to upgrade my projects.

[2017-02-03 05:56] #1 closed

[2017-02-04 10:31] AwsmOli opened #2 "Question about config"
Hey,
im trying to use this with the accounts-facebook and accounts-google packages.

is there a method to find out which dependencies in which order i will need to specify as the imports?

Some dependencies will be needed by both, do i need to specify them for each plugin, or is one time enough?

[2017-02-04 12:41] AwsmOli commented on #2
Okay i now just tried and errored me to get alle the dependencies to work, but now im stuck with:

at

`var config = JSON.parse(document.getElementById("config").innerHTML);`

which is line 3 of `packages/oauth/end_of_popup_response.js`

Where is this html element with id "config" supposed to come from ?

here is my current config:

[code]
I added everything to accounts-base, which seems to work.

[2017-02-04 23:31] DAB0mB commented on #2
@AwsmOli I just made some changes where you don't have to specify package dependencies, which will make stuff much clearer and more predictable. I believe we will release a new version very soon, and then I will let you know what you can do.

[2017-02-05 06:18] Urigo commented on #2
released.
@AwsmOli can you please try the new version and if everything works and clear close the issue?
If you see that some things can be added to the docs, the best way to change that is to PR :)
thank you!

[2017-02-05 06:38] AwsmOli commented on #2
Nice just tried it with specifying the source project and with a config just specifying the DDP Url, and it works like a charm (which is automagicly)!

`$ meteor-client bundle -s api`

[code]
Its that easy now
Thanks guys!

[2017-02-05 06:38] #2 closed

[2017-02-05 12:40] DAB0mB commented on #2
@AwsmOli I've just updated the tutorial with the new version. Further than that, you don't even need a config anymore, you can change the url by specifying the `--url` option.

[2017-02-10 22:26] leonardoespinosa opened #3 "Use meteor-client-bundler with angular2-compilers package"
Hi,

Im trying to use meteor-client-bundler in my ionic project to connect to the Meteor server with angular2-compilers package. When i execute `meteor-client bundle -s sourcedir`

I have the following error:
[code]

Too, i try execute meteor-client-bundler configuring the meteor-client.config.json and package.json files in the ionic project like that:

package.json
[code]

meteor-client.config.js

[2017-02-10 22:52] DAB0mB commented on #3
I'm very confused, why would you need `angular2-compilers` if you're only using Meteor as your server? Anyways, like you said, it's that package which is causing you troubles because it requires you to write HTML files and all these stuff. Try using the following command:

    $ meteor-client bundle --url http://192.168.0.6:3000 -c meteor-client.config.json

With the following config:

[code]

Mak

[2017-02-11 14:01] leonardoespinosa commented on #3
Nice! The problem is solved! I execute the command
`meteor-client bundle --url http://192.168.0.6:3000 -c meteor-client.config.json`
and modify meteor-client.config.json file. I see my meteor-client-bundler version and i have 0.1.1 version, please keep in mind the version that you mean (1.1.0) is not allowed:

[code]
Regards!

[2017-02-11 16:55] #3 closed

[2017-02-12 21:32] msio777 opened #4 "disable underscore from global scope"
Hi,
Old version included export property. I' ve never tried it on my own. I 'd expect something in the current version too. I don't want to use underscore on frontend and underscore is in global scope included. Is there any chance to resolve this ? I'm using angular 2 in my project
Thanks
Michal

[2017-02-12 23:38] DAB0mB commented on #4
@msio777 Unfortunately you can't. `underscore` is a native part of Meteor's implementation, so without it, Meteor will break. Personally I'd also be happy to get rid of it and replace it with `lodash`, but it's not guaranteed to work properly. Hopefully you got your answer, I'm closing this issue :-)

[2017-02-12 23:38] #4 closed

[2017-02-13 12:12] KeithGillette opened #5 "'Uncaught ReferenceError: Mongo is not defined' when using with angular2-boilerplate"
In attempting to use Webpack for an Angular-Meteor [angular2-boilerplate](https://github.com/Urigo/angular2-meteor-base) client build, I get the following browser console error when running the client:
[code]
I have run `meteor-client bundle` with the following `meteor-client.config.json` adapted from the Angular-Meteor [WhatsApp Clone with Meteor and Ionic 2 CLI](https://angular-meteor.com/tutori

[2017-02-13 12:55] DAB0mB commented on #5
@KeithGillette It seems as if you're using an old version of `meteor-client-bundler`. Can you please try the latest version? You don't even necessarily need a config file anymore, just use the `-s` option like so:

    $ meteor-client bundle -s ./api

[2017-02-13 13:27] msio777 commented on #4
Thanks but if I assign lodash to another constant like `import * as lodash from 'lodash'` that is ok isn't ?

[2017-02-13 13:40] DAB0mB commented on #4
@msio777 It's ok, but then you'll have to load both `underscore` and `lodash` which are pretty identical. It will make the script file unnecessarily bigger, and the requests slower. I wouldn't have done that personally.

[2017-02-13 13:48] msio777 commented on #4
yeah I thought of that but I building cordova project and current version of underscore is 1.5.2 and I  need e.g. _.mapObject() and that's included only in higher versions.

[2017-02-13 14:10] DAB0mB commented on #4
@msio777 You should try looking for a solution on StackOverflow, there's a very big community in there and I bet they will give you the best solution possible.

[2017-02-13 14:23] msio777 commented on #4
thanks :)

[2017-02-13 14:53] KeithGillette commented on #5
Thanks for the fast reply, @DAB0mB! I believe I am using the latest version, as I just installed it 2 days ago:
[code]
I tried again by deleting my existing `node_modules/meteor-client.js` and executed `meteor-client bundle -s .\meteor` (I moved the server side to `meteor` instead of `api` and I'm running under Windows 10) and now I get no `meteor-client.js` bundle outputted to `node_modules`! The

[2017-02-13 16:54] DAB0mB commented on #5
@KeithGillette Try to add the `mongo` package explicitly in your meteor package:

    $ meteor add mongo

This should make sure `mongo` is being exported. Don't forget to re-bundle your client!!

[2017-02-13 19:26] KeithGillette commented on #5
Thanks again, @DAB0mB. Unfortunately, if I specify the directory of my embedded Meteor project, I can't reliably get the `meteor-client` command to generate a `meteor-client.js` output file. I am able to get a `meteor-client.js` file is by running `meteor-client bundle` with no switches. I was also able to get it to generate a `meteor-client.js` file if the `--source` flag specifies a fresh Meteor

[2017-02-13 23:59] DAB0mB commented on #5
@KeithGillette the thing is that every package exports objects based on its definition in the `package.js` file. Once you require these packages their definitions will be available on the global object. You have the `Mongo` object available on the `window`, isn't that what you wanted? You will achieve the same result even if using Meteor purely. You can also remove the `global-imports` package whi

[2017-02-14 00:45] KeithGillette commented on #5
Yes, as I've described, with one of the following work-arounds, I do successfully get  `Mongo` available globally:
1. Manually add `Mongo = Package.mongo.Mongo;` to the `meteor-client.js` file produced by `meteor-client bundle` or `meteor-client bundle --source .\meteor`, meteor being the directory of the embedded Meteor server project.
1. Run `meteor-client bundle --source path-to-external-meteor

[2017-02-14 19:07] KeithGillette commented on #5
I created a fresh install as follows to test this further

[code]
For some reason, the resultant `node_modules\meteor-client.js` still doesn't have `Mongo` in the global scope:
[code]

FYI,
Keith

[2017-02-15 00:57] DAB0mB commented on #5
@KeithGillette maintaining a config is indeed more optimized, but I find it weird that `Mongo` is not added to the global scope when using `--source` option. I will definitely check on that.

[2017-02-20 04:51] mordka commented on #2
As far as I understand we don't need to specify package in the config now. But I have local only package (packages/meteor-slingshot)  which is breaking the build.
[code]

I tried setting `PACKAGE_DIRS` variable but no luck

[2017-02-20 22:20] DAB0mB commented on #2
@mordka Iteresting point, when I built the package I didn't consider a case where someone would like to bundle a client with local package. I will definitely check that. Can you please a new issue and copy your comment? This way I can track your issue more easily and I will give you a status on that.

[2017-02-21 03:33] sqeeswy opened #6 "Unknown package in top-level dependencies"
While using source option (-s) with existing meteor project containing custom packages in packages/ directory, we're getting following error:

[code]

Can source option be extended to load also those custom packages from package directory?

[2017-02-21 04:53] sqeeswy commented on #6
CR proposal for this issue in #7

[2017-02-21 05:00] sqeeswy commented on #2
Hi guys I've got the same issue as @mordka, I provided solution proposal in PR #7. @DAB0mB could you check it out and decide if it's worth merging? Sorry for no tests, btw those provided in repo didn't work for me.

[2017-03-10 05:01] FinalDes opened #8 "how to deploy the app in production?"

[2017-03-13 09:26] AwsmOli opened #9 "Disable app reloading with autoupdate_client.js"
When i add accounts-facebook to my source meteor-project, my client app is stuck i a reload loop.

Here are my source projects packages:
[code]

The reload is called in the resulting meteor-bundle, in the code block copied from `packages/autoupdate/autoupdate_client.js`

on its line 143:
[code]

Here is the complete block:
[code]

I understand that this might be a problem with autoupdate_client.js

[2017-03-13 11:35] DAB0mB commented on #9
@AwsmOli I had a similar issue, I'm pretty sure I already handled it by disabling hot-code push: https://github.com/Urigo/meteor-client-bundler/blob/master/lib/post-bundle.js. Are you sure your'e using the latest version?

[2017-03-13 11:52] AwsmOli commented on #9
Well perfect! i was still running 0.1.0, in 0.1.1 everything runs fine.
Sorry for the issue, should have thought about updating first.

Thanks!

[2017-03-13 12:28] DAB0mB commented on #9
You welcome :-)

[2017-03-13 12:28] #9 closed

[2017-03-25 14:42] dnish opened #10 "Unable to resolve module"
Hey,
within my React Native app, I get the following error message:

[code]

Did I forget something?

[2017-03-25 18:23] DAB0mB commented on #10
@dnish can you please tell in a bit more detail what actions did you take? Did you bundle? How? Can you please show me your entry script and how you loaded meteor-client? What operation system do you use and what version of meteor do you run?

[2017-03-25 18:28] dnish commented on #10
Hey,
yeah, the bundle is saved within <code>node_modules/meteor_client.js</code>. Before starting the React Native app, I did:

meteor-client bundle --config mcb.config.json

Then I've added the following within index.android.js (at the top):

    import "meteor-client";

After that, I've run:

    react-native start

and at 99,7% I get the error above. I've already tried to delete the node_module

[2017-03-25 18:30] DAB0mB commented on #10
OK, can you please show me the config file mcb.config.json?

[2017-03-25 18:31] dnish commented on #10
Sure:
[code]

Server is also running on dev machine. I've already tried it without config and linking it to the Meteor directory, same error message.

[2017-03-25 18:31] DAB0mB commented on #10
And if you will provide me with the log produced by MCB to the stdout, it would help as well

[2017-03-25 18:34] dnish commented on #10
I only get a stdout log if I run the meteor-client bundle command, so the output is:

[code]

[2017-03-26 07:39] gustojs opened #11 ""Package is not defined" if 'meteor-client' not imported separately to each .vue file"
I know you're more into Angular and React, but can you think of any potential reason that this error...

...would show up if I don't add:
[code]
before other Meteor-related imports in `.vue` files?

I already imported 'meteor-client' in my main JS file. The code is working as long as I have the same line repeated in all other files that try to use Meteor. But I see you don't do it, so I guess it s

[2017-03-26 23:28] gustojs opened #12 "Meteor-client on the server"
I'm trying to make a POC of using this package with Nuxt.js (Next.js clone for Vue).

It works fine, until I try to actually import 'client-bundle' to files rendered on the server, in which case I get `ReferenceError: document is not defined` error. Well, client-bundle name speaks for itself.

Did anybody manage to make it work with server-side generated page? Is there a workaround for it?

I can

[2017-03-27 14:18] DAB0mB commented on #10
@dnish Good news. I fixed this issue, as seen on the following branch: https://github.com/Urigo/meteor-client-bundler/tree/feat/escape-commonjs. I've encountered a new problem with React-Native described in the following issue: https://github.com/Urigo/meteor-client-bundler/issues/12, therefore, I will close this issue, but know that I'm working on it :-) Hopefully you will be able to run React-Na

[2017-03-27 14:18] #10 closed

[2017-03-31 06:19] nanomo commented on #1
Had similar issue:

Windows 7 64 bits

node -v
v6.10.1
npm -v
4.4.4
Your system information:

Cordova CLI: 6.4.0
Gulp version: CLI version 3.9.1
Gulp local:
Ionic Framework Version: 2.3.0
Ionic CLI Version: 2.1.4
Ionic App Lib Version: 2.1.2
Ionic App Scripts Version: 1.2.5
OS: Windows 7 SP1
Node Version: v6.10.1

C:\apps\someapp>npm run meteor-client:bundle

ionic-hello-world@ meteor-client:bundl

[2017-04-01 11:15] sylvaiin opened #13 "Update docs"
Hello,
Don't know if I'm really at the good place to ask this.
I'm a little bit confused about this package.

Could someone explain the main differences of approach between
**(meteor-angular2)** AND **(meteor) / (angular2 + meteor-client-bundle)**

What about ?
- Subscriptions / Publications
- MiniMongo
- Meteor.methods
- Accounts / Atmosphere plugins
- Deployment
- Ease of maintaining apps

Thank

[2017-04-01 11:29] bsbechtel opened #14 "Error compiling html file"
I'm trying to use meteor-client-bundler to package an existing meteor app for use on a new React Native project. The RN project is in a directory at the same level as the meteor app. When I try running `meteor-client bundle --source=../myMeteorApp`, I get the following error:

[code]

My client html file has both tags in it, and is being used with React in the Meteor app. Any idea what might be ca

[2017-04-04 10:16] bsbechtel commented on #14
It turns out this was an issue with how the config["imports"] packages were being loaded. I have a PR ready to submit, but do I need specific permissions to contribute to the project?

[2017-04-06 01:11] spencercarli commented on #12
Looks like (at least for the app I tested MCB with) theses are the document events used by the bundle.

- document.addEventListener
- document.readyState
- document.attachEvent
- document.documentElement
- document.createElement
- document.domain
- document.body

I probably missed some. This is directly related to React Native but [here's an issue discussing pollyfilling document in RN](https://gi

[2017-04-06 01:22] DAB0mB commented on #12
@spencercarli This is the only issue preventing from running Meteor with React Native, what a shame. I've tried to solve it using JSDom, but it's only compatible with a NodeJS environment. If you know of a polyfill or make one of your own, let me know, that would be awesome!

[2017-04-07 10:50] bsbechtel commented on #12
I'm facing this issue too. The [react-native-web](https://github.com/necolas/react-native-web) project obviously depends on a document, though I haven't had much time to dig into the source code yet. Maybe that's an avenue to further explore as a workaround?

[2017-04-07 18:26] derek-fong opened #15 ""Unknown package in top-level dependencies: <meteor_package_name>""
Steps to reproduce:
1. `mkdir api/packages`
2. Clone/copy any meteor package source files into `api/packages/<meteor_package_name>`
3. Run `meteor add <meteor_package_name>`
3. run `meteor-client bundle -s api` from project root.
4. Fail with error message `Unknown package in top-level dependencies: <meteor_package_name>`.

[2017-04-07 18:28] derek-fong commented on #15
#7

[2017-04-09 18:53] dnish commented on #12
I've added the following on the top of my client-bundle.js and removed the css package:

[code]

Now I don't get any error messages anymore and I'm able to access the Meteor object. Problem is that my DDP connection stucks on "waiting":

   Object {status: "waiting", connected: false, retryCount: 0, retryTime: 1491763867822}

[2017-04-09 19:07] DAB0mB commented on #12
@dnish it's probably waiting for the ready state of the document to change, but you've only implemented method stubs which is not good enough. Maybe there would be consequences if you don't actually implement these methods, but it's worth trying. BTW, isn't that better to change meteor internally to support react native?

[2017-04-09 19:09] dnish commented on #12
I guess this would be a way better if Meteor decides by itself if it's running on a browser environment or any other client environment and remove all functions which are based on DOM. I've just tested if I can get it to work, because meteor-react-native seem to have some downsides and doesn't support the "real" Minimongo (and also we are not able to run Tracker functions).

[2017-04-12 06:26] Urigo commented on #12
we would love to see a PR for Meteor, even just start of one that identifies all the places that would need to be changed

[2017-04-16 23:10] DAB0mB commented on #12
@dnish I'm working on a modified version of the `meteor-base` package which should make Meteor usable with React-Native. I will be adding instructions to the `README.md` file as soon as it's ready, and hopefully this will be merged with the `master` branch of Meteor and will become official :-)

[2017-04-18 02:08] DAB0mB commented on #6
I've just merged my own PR. Closing this issue

[2017-04-18 02:08] #6 closed

[2017-04-18 02:09] DAB0mB commented on #15
Just implemented an option to specify `packages` dir. I'm closing this issue

[2017-04-18 02:09] #15 closed

[2017-04-19 17:30] DAB0mB commented on #12
Good news! I have managed to integrate React-Native with a Meteor backend! An example application can be found [here](https://github.com/DAB0mB/ReactNativeMeteorBoilerplate) with detailed instructions in the `README.md` file. In addition, I've opened a new ticket in Meteor's official repo, which can be found [here](https://github.com/meteor/meteor/issues/8615), and hopefully they will merge my cha

[2017-04-19 17:30] #12 closed

[2017-04-20 14:39] darkbasic opened #17 "meteor-client bundle fails"
[code]

[code]

I'm using meteor-client-bunlde-0.2.0
Omitting the config file changes nothing. It used to work previously.

[2017-04-20 14:49] DAB0mB commented on #17
@darkbasic Can you tell me what happens if you append `--packs-dir ./packages` to your command? I know what could be the source for the problem I'm just trying to find it in the most accurate way

[2017-04-20 15:17] darkbasic commented on #17
[code]

[2017-04-20 15:56] darkbasic commented on #17
Do you have a workaround I can use in the meantime? I'm using the whatsapp tutorial as a testbed but I have a real world app to write and I cannot halt the development :)

[2017-04-20 16:19] hansjons commented on #12
Hi, I'm trying to run your sample but after get stuck after $ npm start, any idea what could be causing this?
<img width="827" alt="screenshot 2017-04-20 16 17 27" src="https://cloud.githubusercontent.com/assets/771207/25241293/01a73d26-25e5-11e7-8bbe-bf0af030573c.png">

[2017-04-20 16:19] darkbasic commented on #17
It seems the problem is not limited to meteor-package-bundler:
[code]

[2017-04-20 16:45] darkbasic commented on #17
Deleting ~/.meteor and reinstalling Meteor solved my problem. I cal still access the old copy of .meteor through btrfs snapshots if you want me to.

[2017-04-20 16:50] DAB0mB commented on #17
@darkbasic No that's good enough for now. I'm closing this issue then :-)

[2017-04-20 16:50] #17 closed

[2017-04-20 16:55] DAB0mB commented on #12
@hansjons You need to run `react-native run-ios` on a second tab. If you aren't familiar with react native you can read more about it [here](https://facebook.github.io/react-native/docs/getting-started.html).

[2017-04-25 09:39] funkyLover commented on #11
@gustojs ,same problem with you. but i find that import inside the App.vue juse do the trick.
checkout [here](https://github.com/funkyLover/vue-webpack-meteor-todo/blob/master/src/App.vue#L24)

[2017-04-25 13:39] joshua1 opened #18 "meteor npm dependencies"
I am using aldeed's Collection2 hich has a dependency on Simpl-Schema a node package, since the bundler does not make reference to node modules, i get an error stating that
[code]
I have added this package to the client application but still get the same error. what is the best way to deal with this?

[2017-04-26 22:42] darkbasic opened #19 "How to set ROOT_URL?"
I'm trying to use `jalik:ufs` from my Android mobile phone using Ionic and Cordova.
`jalik:ufs` documentation says:
[code]
This is my `meteor-client-config.json`:
[code]
While `DDP_DEFAULT_CONNECTION_URL` works flawlessly it seems `ROOT_URL` doesn't, in fact I still get localhost:3000 in the `jalik:ufs` URLs. Maybe this is because I lack `--mobile-server`? I run my app using `cordova run android`

[2017-04-27 10:48] darkbasic commented on #19
Found the issue: it must be set on meteor server, not client.

[2017-04-27 10:48] #19 closed

[2017-04-28 07:38] pal-pinter commented on #18
May you have wrong type.
'simpl-schema' -> 'simple-schema'

[2017-04-28 21:00] joshua1 commented on #18
No it's not the wrong type.the package is name simpl-schema on npm. I have taken it out though so that I could move on 

joshua O

On Fri, Apr 28, 2017 at 9:38 AM "Pintér Pál"

<
mailto:

a, pre, code, a:link, body { word-wrap: break-word !important; }

May you have wrong type.

'simpl-schema' -> 'simple-schema'

—

You are receiving this because you authored the thread.

Reply to this email direc

[2017-04-30 13:10] mhagmajer commented on #9
@DAB0mB why not just do

[code]

?

I've just checked that Meteor's client reload behaviour still interferes with React Hot Module Reload when compiling [Electron](https://electron.atom.io/) with [Electron Forge](https://github.com/electron-userland/electron-forge).

[2017-04-30 13:40] DAB0mB commented on #9
@mhagmajer You're right I can just exclude this package. Still, since I've disabled it then it shouldn't interfere. I will try to find the time to do it, and any PRs will be happily accepted.

[2017-04-30 13:43] DAB0mB commented on #13
@sylvaiin They are the same. There shouldn't be any special treatments when using `meteor-client-bundler`, only it is a bit more flexible because basically what it does, it strips out Meteor's backend making it much more independent to use with whatever front-end framework that you would like, like React Native and Native Script. Personally I like the `meteor-client-bundler` approach since I only

[2017-04-30 13:43] #13 closed

[2017-05-04 11:06] KeithGillette opened #21 "Configure server connection parameters programmatically?"
I know that `meteor-client-bundler` allows one to specify the Meteor server URL via the `--url` command line flag at build time. Is there any way to have the client set its connection parameters programmatically by passing a configuration object similar to the approach taken by [`nativescript-meteor-client`](https://github.com/ntrp/nativescript-meteor-client)?

[2017-05-04 21:05] DAB0mB commented on #21
@KeithGillette this feature is not yet available, but as a workaround, before you import `meteor-client` try setting your DDP configuration accordingly:

[code]

There are some several stuff I need to fix, I will do this once I have free time.

[2017-05-05 02:23] KeithGillette commented on #18
I am experiencing a similar problem with the `meteor-apollo-integration` Atmosphere package, which has a dependency on `apollo-client`. I get a browser console error `Uncaught Error: Cannot find module 'apollo-client'` when including `apollo` in my `meteor-client.config.json` even though `apollo-client` is already installed in `node_modules` as a project dependency in `package.json`.

[2017-05-05 11:45] kokokenada opened #22 "meteor-client.js won't run in React Native"
Using v0.2.1 of meteor-client-bundler, I generated a meteor-client.js file with the following config:
[code]
When React Native loading the library it complains about various document and window references.   if you search the generated .js file it has 140 references to "document" and 59 references to "window".  I tried working around the problem by adding:
[code]
to the top of the generated file w

[2017-05-05 15:19] DAB0mB commented on #22
@kokokenada You don't seem to use the `meteor-native-packages` module. See [reference](https://github.com/Urigo/meteor-native-packages). This is basically a fork of Meteor's core packages with several modifications that will make your application run with React Native.

[2017-05-05 15:35] kokokenada commented on #22
Right.  Thanks for the pointer.  How do I get the bundler to see the the native packages.  Where is the best documentation for the process?

[2017-05-05 17:51] darkbasic opened #23 "Need to pass --settings parameter to be able to access public settings on the client"
I tried to set an evironment variable just in case:
[code]
but obviously it didn't work because meteor expects a --settings parameter and doesn't work with an environment variable.

[2017-05-05 17:56] darkbasic commented on #23
By the way I don't think that having to specify a settings parameter a second time in the client is a good design decision. Meteor should probably publish public settings using DDP instead. I don't know the innings so excuse me if I don't know how it's supposed to work.

[2017-05-05 19:28] #22 closed

[2017-05-05 21:01] kokokenada opened #24 "Question re login"
Apologies if there's a better place for asking questions.  I'm porting some code that uses Meteor.loginWithPassword which isn't defined in meteor-client.  I'm unsure if this is a configuration issue or if I need to login in a different way.  Any pointers much appreciated.

[2017-05-05 21:48] DAB0mB commented on #24
Just run `meteor add accounts-password` (or whatever this is) in your meteor server, re-bundle the client and you're good to go. For some packages few adjustments are required inorder for them to work with ReactNative, but I don't think that auth packages should have any problem with it.

[2017-05-05 23:20] kokokenada commented on #24
Thanks for the reply.  And adding 'accounts-password' to bundler config.json did add Meteor.loginWithPassword to the generated 'meteor-client.js'.  Thanks.

Now, is there something special I need to get a connection?  The login does not return because I have no connection to the server.  (Server is running and web version is fine.)

[2017-05-06 10:24] DAB0mB commented on #24
This is actually a ReactNative related issue, not a Meteor one. Try changing the URL from `localhost` to `0.0.0.0`, or you can just write your IP explicitly. Don't forget that the `localhost` of the phone is not the same `localhost` as your computer's. I'm closing this issue because it gets off-topic.

[2017-05-06 10:24] #24 closed

[2017-05-06 20:31] kokokenada opened #25 "Error when building android"
After running the install and successfully running the app iOS on the simulator, I tried to run 'react-native run-android' (with my device plugged in) and get:
[code]

Can anybody replicate that?  Any suggestions?

[2017-05-06 22:59] kokokenada opened #26 "how do you connect to Meteor server?"
I am unable to get a connection to Meteor.  I've configured DDP_DEFAULT_CONNECTION_URL to be the IP of my machine.  The code below is called every 5 seconds, and it just won't connect.  Using fetch, I'm able to hit the server with no problem.
[code]

Full repo is here:  https://github.com/kokokenada/for-real-cards-rn .  Tried with a device and with emulator.

[2017-05-07 15:58] DAB0mB commented on #26
It should get connected by its own. Why do you need to register the connection manually?

[2017-05-07 16:01] DAB0mB commented on #25
@kokokenada Meteor has a messed up environment, for example (if I ain't wrong) you the variable `__dirname` will give you something an unexpected path. Be careful when you deal with Meteor and paths. You've probably tried to resolve the `collections` module dynamically or using an alias, didn't you? Can you show me how you tried to resolve these? This is probably a Meteor with symlinks problem....

[2017-05-07 23:38] kokokenada commented on #25
Thanks for the reply @DAB0mB .  This error happened for me when I cloned the boiler plate (https://github.com/DAB0mB/ReactNativeMeteorBoilerplate )  and tried the build.  The app I'm working has a few additional libraries and I went make to the boiler plate to try to isolate the problem.  I expected that the problem can be replicated just by trying to run Android from this repo.  Is that not the c

[2017-05-07 23:49] kokokenada commented on #26
The code only gets called when there is no connection.  And, yes, when using the web version, things would usually just connect on their own.

Also, I looked at the boilerplate code (https://github.com/DAB0mB/ReactNativeMeteorBoilerplate ) and it looks like it's supposed to display foo, bar, baz.  This doesn't happen when I download and run the repo. (I just see a white screen)

[2017-05-08 14:02] DAB0mB commented on #26
@kokokenada I will check the re-connection thing, and regards the boilerplate, I'ts probably caused due to the separation between the device and the server on the local machine. If configured correctly, it should work. I will try to run it on a MacOS to see if it works there or not, and I will give you a status once I have results.

[2017-05-15 08:12] trymbill commented on #18
Same here, trying to use Collections2 and I get an import error ```Uncaught Error: Cannot find module 'simpl-schema'```. I tried adding it to the import section of my bundle-config.json but that didn't fix it.

[2017-05-19 18:08] Zeioth commented on #8
For Angular2 + Ionic it's very easy:
http://ionicframework.com/docs/v1/guide/publishing.html

For web, I have no idea. A tutorial or hint would be more than welcome.

[2017-05-23 18:55] gitTerebi opened #27 "You need 2 servers to run this?"
Let me check...

So you need a meteor server to act as the DDP server?
Then if you are using webpack, you need to use that to spin up a server to host the client files?
(It just so happens that you have a pre-bundled meteor-bundle.js that allows you to make minimongo calls etc?)

[2017-05-25 20:08] KeithGillette commented on #21
Thanks for the work-around, @DAB0mB. I attempted to implement it in my Angular-Meteor project using TypeScript. I verified that a `__meteor_runtime_config__` object with the correct URL was created on `window` with the following code:

[code]

However, the imported `meteor-client` still seems to use its default settings when attempting to connect via DDP, as in the browser console I get repeated e

[2017-05-26 19:14] KeithGillette commented on #18
Any recommended work-arounds or plans to address this issue, @DAB0mB or @Urigo? I fear that lack of support for using bundled Atmosphere packages that also have dependencies on npm modules may prevent me from using Angular-Meteor in my project. Thanks for any thoughts.

[2017-05-30 13:45] Richie765 commented on #12
I've a similar issue, but I just want to call some Meteor methods from a Node.js script. I don't know anything about React Native. I've tried the DOM stubs above but I'm kind of stuck there. Can someone give some guidance how to make it work?

[2017-06-01 03:20] santteegt opened #28 "Error when trying to use Meteor.loginwith<> feature"
Hi,

I'm trying to use the Meteor loginWithFacebook feature on my app, but I'm getting the following error when calling the function:

`Error: Must pass options.rootUrl or set ROOT_URL in the server environment`

I have properly configured the loginWithFacebook service and also set the ROOT_URL environment variable before running the Meteor server.

What could be the issue ? Or due to the nature o

[2017-06-01 10:24] darkbasic commented on #28
`meteor-client.config.json`:
[code]

`package.json`:
[code]

You will also need an `nginx` proxy. Have a look in the other bug reports or wait for the updated tutorial which will include Facebook auth.

[2017-06-01 14:40] untsamphan opened #29 "Error from static-html"
I've got the following error while trying to create a client-bundle from a working Meteor project.

[code]

Here is the whole session:-
[code]

And this is the usual client/main.html :-
[code]

[2017-06-02 11:21] #29 closed

[2017-06-07 13:37] untsamphan commented on #18
I faced the same issue because my project use `std:accounts-ui` which require `react` from npm. When I removed it (use AccountsUIWrapper) the problem gone.

I guess Meteor packages that require any npm module' will fail when bundled.

[2017-06-09 02:11] Slavrix commented on #5
I have found that when using the --source api  I do get my Mongo exposed, however adding mongo to the imports doesn't expose it at all.

It would be good to get an "ignore" added to the config maybe, I have some meteor packages that cause headaches with the bundler (mainly angular2-compilers and packages related to unit and e2e tests)

So when using -s api, I remove them first, generate the meteor

[2017-06-11 03:47] santteegt commented on #28
Hi @darkbasic

What is the content of `private/settings.json` file you specify in one of the scripts on `package.json`? Is it related to some config for meteor facebook login ?.

I have already followed your instructions on  [#40](https://github.com/Urigo/Ionic2CLI-Meteor-WhatsApp/issues/40) for the meteor-client.config.json and the nginx proxy but after logging in in facebook, I get the following

[2017-06-12 10:02] darkbasic commented on #28
The new tutorial with fb auth is almost ready, stay tuned ;)

[2017-06-14 22:34] santteegt commented on #28
@darkbasic please let me know when it becomes available (I'm a little bit in a hurry as my app need to go on production soon)

[2017-06-14 22:46] darkbasic commented on #28
I just talked with Uri about it, it will probably become available tomorrow.

[2017-06-15 11:03] darkbasic commented on #28
I pushed the new version, you can already find it in this repository. Soon I will publish it in the website too. Let me know if it works for you.

[2017-06-17 00:14] santteegt commented on #28
@darkbasic I have followed the instructions from step 17.1 to 17.7 in order to test the facebook login functionality, but I'm still getting the following error:

[code]

I'm running the ionic app on `http://192.168.2.15:8100`, whereas the meteor server on `http://192.168.2.15:3000`.

My `meteor-client.config.json` is configured as follows. Notice that my nginx proxy is on port 32768, which is forw

[2017-06-17 10:04] darkbasic commented on #28
Why did you set the port to `32768` in `meteor-client.config.json` and then you configured the `nginx` proxy to listen to port 80 (`listen      80;`)? Also you should really use domain names, because if I recall correctly Facebook doesn't allow you to use IP addresses (but you can use `localhost` in testing mode).

[2017-06-17 12:46] sreejithsrk opened #30 "package.json not in path when run meteor-client commend"
Hi,

I'm trying to use the Meteor some features to  my app, but I'm getting the following error when using meteor client bundler

`
C:\Users\Sreejith P>meteor-client --help
C:\Users\Sreejith P\node_modules\meteor-client-bundler\node_modules\find-root\index.js:13
throw new Error('package.json not found in path')
    ^

Error: package.json not found in path
    at findRoot (C:\Users\Sreejith P\node_

[2017-06-17 14:25] greenkeeper[bot] opened #31 "Action required: Greenkeeper could not be activated 🚨"
🚨 You need to enable Continuous Integration on all branches of this repository. 🚨

To enable Greenkeeper, you need to make sure that a [commit status](https://help.github.com/articles/about-statuses/) is reported on all branches. This is required by Greenkeeper because we are using your CI build statuses to figure out when to notify you about breaking changes.

Since we did not receive a CI status

[2017-06-18 00:37] santteegt commented on #28
Hi @darkbasic,

My nginx proxy is running on a Docker container and listening in port 80, and port 32768 is configured to forward requests from the host machine.

In the other hand, I was always being able to login to facebook through my app built with Meteor CLI and using local network IP addresses. You just have to add it to the valid OAuth redirect URIs through the facebook developer console.

[2017-06-20 12:20] eliezedeck commented on #14
@bsbechtel Can you share a quick fix? This won't seem to be fixed anytime soon. Repo seems inactive.

[2017-06-20 14:53] vladejs opened #32 "Example of Integrating with Next.js"
Hello, Next.js is the new big frontend framework for React apps.

I was trying to integrate it by following the example provided on the Meteor Blog Post, but Next.js wraps webpack's config in a way that I get errors.

Does anyone have integrated Next.js with meteor yet? Any help would be greatly appreciated.

[2017-06-21 05:33] krishnapsms opened #33 "Integration Example with angular CLI ?"
I want integrate MCB with my angular CLI project, so here am looking for clean approach to integrate MCB with up and running. Guide me further, if any examples are existing or working on it ?

[2017-06-21 10:01] krishnapsms commented on #33
@Urigo I've been go through the [Whatsapp clone tutorial](https://angular-meteor.com/tutorials/whatsapp2-tutorial) to replicate same with angular CLI, there i got two version to get started which one i will prefer either starting with Ionic CLI or Meteor CLI ?

[2017-06-21 10:45] Urigo commented on #33
The Ionic CLI.
We just deployed a new, updated version of this tutorial yesterday so check it out.
(Ionic CLI is very similar to the Angular CLI in the way you should integrate it with Meteor)

[2017-06-21 13:03] krishnapsms commented on #33
Thanks for getting back to me sure i will check it out and also we are looking forward to get simple todo app tutorial with Angular CLI for direct approach with it.

[2017-06-22 09:15] krishnapsms commented on #33
@Urigo Hi, I've been started integrating Angular CLI with Meteor by following that Ionic CLI tutorial there i've following doubts
- Angular CLI is coming up with Webpack whether we need to consider that again for configurations
- While integrating with meteor server am not able to get collection from meteor in Angular CLI it says cannot find the module while `import { Quizzes } from 'api/collectio

[2017-06-23 09:33] mvandenbrink commented on #30
You need to run the meteor-client-bundler in a meteor directory. There should always be a package.json file in there. See https://angular-meteor.com/tutorials/whatsapp2/ionic/meteor-server-side for more information about how to use this package.

At a side note: to display help you don't need to have a package.json file. Maybe we can fix this.

[2017-06-24 14:29] yonsterTheMonster commented on #33
@krishnapsms Hi, can you upload your repo so i can help you i'm also struggling with it.

[2017-06-26 04:28] santteegt commented on #28
Hi,

I finally solved the issue by developing the server side of my app on a linux machine which is easier to open port 80. Previously, I was testing this on a docker container running on my Macbook Pro where it is not that easy to open port 80.

[2017-06-26 04:28] #28 closed

[2017-06-26 11:10] krishnapsms commented on #33
Hi @yonsterTheMonster refer this issue l[ink](https://github.com/Urigo/Ionic2CLI-Meteor-WhatsApp/issues/82#issuecomment-310415744)

[2017-06-26 12:09] krishnapsms commented on #33
Hi @Urigo Should i have to eject webpack config and then configure it with angular CLI ? Is it proper way or else any other possibility to configure in .angular-cli.json ?

[2017-06-28 10:34] bsbechtel commented on #14
Sure...this is line 52-64 of the bundler.js file in /lib:

[code]

All you really need is the `  if (config["import"]) {` line. Hope that helps!

[2017-06-30 19:43] lnmunhoz commented on #23
@darkbasic Did you figure it out how to pass settings to the bundler?

[2017-07-02 19:28] vladejs commented on #32
@urigo, any thoughts here?

[2017-07-13 19:30] carlos-olivera opened #34 "Not working with Meteor 1.5.1"
Hi!

I am working with this package for a fitness app (ionic) project.

I updated to Meteor 1.5.1 and got a bug: [https://github.com/meteor/meteor/issues/8902](https://github.com/meteor/meteor/issues/8902)

I had to modify the code in order to specify a meteor version when the script create the temp meteor app.

I can create a PR if you need a hand with that.

Carlos.

[2017-07-14 18:36] mvandenbrink commented on #34
I had a similar issue. I had meteor 1.5 installed, but after the meteor-client-bundler run I encountered an error.

Uncaught TypeError: Cannot read property 'get' of undefined in polyfill:3

I updated meteor to 1.5.1, removed node_modules/*, did a clean install with npm install and the meteor-client-bundler. After these steps everything was working again.

[2017-07-14 18:40] carlos-olivera commented on #34
I've not tried to clean node modules.

I forced meteor-client-bundler to use 1.5.1.

[2017-07-17 02:20] Slavrix commented on #34
The clean install after upgrading to meteor 1.5.1 worked for me also.

[2017-07-19 10:53] darkbasic commented on #23
No, unfortunately I didn't looked at a possible solution, I just worked it around.

[2017-07-19 12:25] dCremins commented on #30
Ditto to the above error.
[code]

[2017-07-19 12:26] dCremins commented on #30
Sorry, here's my computer set up info
node -v: v8.1.4
npm -v: 5.0.3
OS: osx el capitan v10.11.6

[2017-07-31 09:47] FinalDes commented on #8
@Zeioth I mean how to build the server app and the client web app

[2017-08-02 05:19] rokanost opened #35 "Meteor.userId() missing"
Everything works well, but I can't get Meteor.userId()
Any ideas?

Thanks

[2017-08-02 05:23] rokanost commented on #35
It's not available globally, had to use "import" inside file.

[2017-08-02 11:04] robatswitchcraft commented on #35
Have you imported "meteor-client" somewhere.

e.g. in main.ts add

import 'meteor-client';

[2017-08-02 11:11] robatswitchcraft opened #36 "Password Reset - Unclear Usage"
My environment; Angular2 (Angular Cli), with separate Meteor server over DDP using meteor-client-bundler.  I am using accounts-password package.

It is not clear how to use the password reset functionality works.

1. Default Email Template directs to the server URL, not the client where the password needs to be reset.
2. Changing Email Templates on the client has no effect.
3. On the server, there

[2017-08-02 12:56] rokanost commented on #35
I did, everything else is working fine except this.

On Wed, 2 Aug 2017 at 9:04 pm, robatswitchcraft <notifications@github.com>
wrote:

[2017-08-02 13:05] robatswitchcraft commented on #35
We will need a few more clues.  Sounds like Meteor class is not in global scope.

I've added this to my .angular-cli.json
"scripts": [
  "../node_modules/meteor-client.js"
],
(and meteor-client script is there).

And import is in first line of main.ts.

[2017-08-02 13:14] rokanost commented on #35
Hmm, when i built the bundle, i havent specified the source option, as i
did in the other meteor project folder and then moved the generated js file
to other ionic project. I also store this bundle file inside src folder, i
should try moving it to node_modules probably

thanks

On Wed, 2 Aug 2017 at 11:05 pm, robatswitchcraft <notifications@github.com>
wrote:

[2017-08-03 02:15] rokanost commented on #35
New error now:
__WEBPACK_IMPORTED_MODULE_4_meteor_meteor__.Meteor.user is not a function

[2017-08-03 02:25] briancvn commented on #18
I have same error aldeed:meteor-collection2-core
![error](https://user-images.githubusercontent.com/11416798/28903144-800374ce-782d-11e7-81db-0bb567bc2485.png)

[2017-08-03 02:31] rokanost commented on #35
I've figured it out, looks like my bundle is missing bunch of stuff

[2017-08-03 05:52] #35 closed

[2017-08-03 23:00] hatelove85911 opened #37 "Q: why the "meteor"

[2017-08-03 23:04] hatelove85911 opened #38 "Q: why the "meteor" package need to be in externals? Don't they also need to be bundled together?"
I'm trying to get my head around the sharing code on both client and server. In the blog, you mentioned to add one external configuration to webpack config file:
[code]

Does this mean that the meteor packages won't be bundled into the client bundle.js? then how the client can run without these code available in the browser?

[2017-08-04 01:47] #37 closed

[2017-08-07 15:45] robatswitchcraft opened #39 "Not possible to use Angular-Cli Environment system to set server URL"
Given that MCB is designed for use with tools like Angular-Cli, it should be possible to set the MCB's environment using the angular-cli environment files (without having to rebuild meteor-client.js).

e.g. in client's main.ts, something like.

Meteor.settings.DDP_DEFAULT_CONNECTION_URL = environment.ddp_connection_url;

At the moment, I have to either re-run meteor-client bundle (slow) or manuall

[2017-08-08 18:05] RDeluxe commented on #18
Same issue here. I have to say, all this setup and research to put in place a basic app is getting on my nerves 😭

[2017-08-08 20:21] fernandoarevalo opened #40 "Execute meteor-client:bundle whit specific version"
Hi everyone!

Everytime when I try to execute meteor-client:bundle whit 1.4.4_3 version, it starts to update to current meteor version (1.5.1), how i can to execute it for 1.4.4.3 version?

Regards.

[2017-08-10 07:38] ingleo commented on #34
Hi @carlos-olivera I'm trying to run the meteor client bundler with 1.4.4.3 meteor version, can you tell me please, how I can to modify the code to  do that?
Really appreciate your help, regards

[2017-08-11 14:05] romiohasan commented on #40
My ionic app and web app is on meteor-1.5 and the build tool is trying to update to 1.5.1. But after downloading, it just keeps hanging on "Extracting meteor-tool@1.5.1..."  for hours.
Tried running several times for hours but not completing the process.
**on Windows-10 with meteor 1.5.

[2017-08-14 17:43] lingboz opened #41 "Uncaught TypeError: Cannot convert undefined or null to object"
Hi guys
I ran into an error that only happens on devices and simulators (my code works well in browser).

To recreate the error, just create a new blank ionic 2 project,
and then follow angular-meteor tutorial chapter 1 using Ionic CLI to add necessary webpack supports, etc., then add meteor client blunder plugin and do a meteor-client:bundle in your project folder.

When I run my program in Andro

[2017-08-14 17:44] lingboz commented on #41
BTW, I used Meteor 1.5.1 and Ionic 3.7.0

[2017-08-14 18:40] michaelb-01 commented on #33
I'm trying the same thing, is there a good solution yet?

[2017-08-14 20:36] fernandoarevalo commented on #41
Hi @lingboz

I have the same problem, so I created an issue in the Ionic2CLI-Meteor-WhatsApp git repo. I think that this error isn't the meteor-client-bundler, because testing in devices with different os versions, only it works fine on higher versions to android 5.0, but not in IOS and android 4.4.4.

My issue: https://github.com/Urigo/Ionic2CLI-Meteor-WhatsApp/issues/121

[2017-08-19 01:09] blackjack0v0 commented on #41
it don't work well with meteor 1.5.1 it crash ,how can i solve this problem

[2017-08-19 01:55] blackjack0v0 commented on #41
it drive me crazy

[2017-08-20 06:43] sxxymzy commented on #41
Hi guys, I've got it working by removing the following two dependencies in meteor-client.js.
`
            ...                                                     // 55
             _require('core-js/modules/es6.typed.uint8-array'); // line 17020
            _require('core-js/modules/es6.typed.uint32-array'); // line 17021
           ...
`
I didn't do much tests to ensure its safety, but I think i

[2017-08-20 09:19] hwonda commented on #41
@sxxymzy , tried out commenting out those lines of code you stated in meteor-client.js. It still returned the same error on mobile chrome etc. Can you please elaborate on how exactly you went about it. Thanks.

[2017-08-20 13:39] blackjack0v0 commented on #41
@sxxymzy  thank you guys,you save my life ,I try it ,the problem is gone now.

[2017-08-20 13:45] blackjack0v0 commented on #40
@romiohasan  you can download the sourcecode from https://meteorinstall-4168.kxcdn.com/packages-bootstrap/1.5.1/meteor-bootstrap-os.linux.x86_64.tar.gz
and unzip the 1.5.1 tool  to your dir  .meteor/  in the root(or maybe in c:// on win10, )
![2017-08-20 21-43-13](https://user-images.githubusercontent.com/27153331/29495386-c1e24e9e-85f0-11e7-90d7-b8a2ecbfeea7.png)

[2017-08-20 14:46] sxxymzy commented on #41
@hwonda As the error stacks implied, the error is about the uint8-array dependency. So I just go through those call stacks and remove the dependences. Maybe your error is not exactly same as the  pictures? Or there might be other issues after you commented those two lines?

[2017-08-22 16:27] fernandoarevalo commented on #41
Hi guys,
@sxxymzy Thank you for the help, I removed the two lines and work fine. :clap::clap::clap::ok_hand:

[2017-08-23 09:48] romiohasan commented on #40
@blackjack0v0 Thanks.
I have already solved it in another way. I cleaned everything, removed the npm package and reinstalled meteor.
Then I again installed meteor-client:bundle from npm and this time I was looking into this directory for unzip/extraction process completion:
**C:\Users\myusername\AppData\Local\.meteor\packages\meteor-tool**

**It took about 90+ minutes to complete the extraction pr

[2017-08-26 22:06] ansaries opened #44 "Bundling Issues with "ionic build browser --prod" Module not found: Error: Can't resolve 'meteor/jalik:ufs'"
import { UploadFS } from 'meteor/jalik:ufs'; // works in dev mode.

following is my config.json:
[code]
The application runs perfectly well in development mode, on a browser and even on devices, in fact, I have managed to deploy a dev build on https://fixonclick-1384.firebaseapp.com which is also running well. But when I build using --prod the build process breaks with the Module not found message

[2017-08-26 23:29] ansaries commented on #44
const UploadFS = Package['jalik:ufs'].UploadFS;
const Mongo = Package['mongo'].Mongo;

[2017-08-27 12:56] ansaries commented on #44
https://github.com/ionic-team/ionic-app-scripts/issues/954

[2017-08-27 13:09] ansaries commented on #44
Ok so we have to make two webpack.config.js one for dev and one for build --prod.

Steps to fix the issue:
in package.json include following:
[code]

**Following is my dev.config.js**
[code]

**and my build.config**
[code]

[2017-08-29 13:25] Zeioth opened #45 "Bundle command doesn't run - Bash for windows"
Hi, I'm experiencing an error trying to run meteor-client-bundler in 'bash for Windows'. I can't even run:

    meteor-client-bundler --version

It shows the next error.

[code]
Could you please try to reproduce it? My version of meteor-client-bundler version is **v0.2.1**. Thank you.

[2017-08-30 02:23] ofqwx opened #46 "Access collections from angular app"
Hi! I'm trying to access a collection from angular (client) with the bundle, but I cannot see anything of minimongo on browser console, I can call methods, access to Meteor object, ddp, etc. everything perfect but I can't do for example "fooCollection.find()" on client.

[2017-08-30 08:59] robatswitchcraft commented on #36
Add this code is on the server....

Accounts.urls.resetPassword = (token) => {
  return Meteor.absoluteUrl(`reset-password/${token}`);
};

[2017-08-30 08:59] #36 closed

[2017-08-30 11:59] mvandenbrink commented on #41
Only had this problem with Safari and iOS. Don't have this problem in Chrome on Macbook and Android. I'm using meteor 1.5.1 and ionic 3.6.0.
Removed the 2 lines ( lines 22584 and 22585) and the app is working again in Safari and iOS. :thumbsup: for @sxxymzy

[2017-08-30 12:06] mvandenbrink commented on #41
Looked into meteor and found out that these lines were added in 1.5.1-beta.0 and 1.6-beta.24
https://github.com/meteor/meteor/commit/3af430272eb29c4ad3292cfafdb60ca5927a427e

[2017-09-04 20:22] #46 closed

[2017-09-05 17:58] SheshoVega commented on #33
someone has achieved satisfactory integration?

[2017-09-06 02:54] pkitatta commented on #41
@lingboz  @fernandoarevalo @blackjack0v0  @sxxymzy is any of you using windows?

[2017-09-06 12:01] lingboz commented on #41
Hi pkitatta

I am using Windows 10. What have you found?

On Tue, Sep 5, 2017 at 11:54 PM, pkitatta <notifications@github.com> wrote:

--
Regards,
Alex. Lingbo. Zou,
Dept.of Computer Science, Dalhousie University.

[2017-09-11 06:35] pkitatta commented on #41
I am also using windows 10 and its failed to work on mine after removing the lines.  Isn't also odd that those two lines are present in the old  script that works without a problem?!

I have tried to find @DAB0mB but have failed to get him.

[2017-09-11 12:38] lingboz commented on #41
Hi guys, there is a new release from Meteor.
Meteor has 1.5.2 ready. They claimed they fixed some issues about Node.js V8, and supported Cordova 7.0.
What version of Cordova are you using?

https://blog.meteor.com/announcing-meteor-1-5-2-105b53e0debc
Have you guys tried anything about the new release?

[2017-09-11 12:58] darkbasic commented on #41
See https://github.com/Urigo/Ionic2CLI-Meteor-WhatsApp/issues/121#issuecomment-328520916

[2017-09-11 16:43] DAB0mB commented on #40
@fernandoarevalo Use the `--release` option. For more information, see the `README.md` file

[2017-09-11 16:43] #40 closed

[2017-09-11 16:45] DAB0mB commented on #34
@carlos-olivera I've just released a new version of `meteor-client-bundler`, this issue should be fixed. For now I'm closing this issue, but if you can confirm it, that would be great!

[2017-09-11 16:45] #34 closed

[2017-09-11 16:48] DAB0mB commented on #38
This is just an alias to Meteor packages, so they can be loaded like so:

[code]

The reason why we do this is because we use our own custom bundler rather than relying on Meteor's bundler, where this logic already exists. I'm closing this issue, since it's not really an issue. If you have further questions you can ask, but please don't open a new issue

[2017-09-11 16:48] #38 closed

[2017-09-12 13:28] darkbasic opened #47 "meteor-client-bundler is incompatible with LicenseWebpackPlugin"
`angular-cli` uses `LicenseWebpackPlugin` when building for production:
[code]

Unfortunately this causes the following error:
[code]

Commenting out `import 'meteor-client';` from `src/main.ts` solves the building issue, but obviously the app will not work.

You can easily reproduce the issue checking out my [angularcli-meteor tutorial repository](https://github.com/darkbasic/angularcli-meteor).

[2017-09-12 13:33] darkbasic commented on #33
I made a small [AngularCLI+Meteor-client-bundler tutorial](https://github.com/darkbasic/angularcli-meteor) where I ported most of the content from the first 4 chapters of the IonicCLI tutorial. Can you please close this bug report?

[2017-09-13 12:26] DAB0mB commented on #47
Looks like this plugin assumes that every FS entity placed in the `node_modules` dir is a dir containing a `package.json` file. Maybe it would be a good idea to create a pull request for `LicenseWebpackPlugin`? Doesn't seem like a fix which is too hard to implement

[2017-09-13 12:58] darkbasic commented on #47
Let's see what xz64 has to say about it, yesterday I also filed a bug report [upstream](https://github.com/xz64/license-webpack-plugin/issues/18).

[2017-09-14 09:44] darkbasic commented on #47
There is a fix in the dev branch, thanks for your help.

[2017-09-14 09:44] #47 closed

[2017-09-20 10:04] whtsky commented on #18
#48
for now, you can `npm i -g @whtsky/meteor-client-bundler` and bundle with config like
[code]

[2017-09-21 10:18] TheAppchemist commented on #33
@darkbasic Thanks I tried it out it works. Only problem is that I can a /src/app/services/user-service.ts (13,22): Cannot find name 'Profile'

Profile is a model in api/models/profile.ts

Do you know what the problem could be. I've been struggling with this for 2 days now.

[2017-09-26 13:17] KeithGillette commented on #39
Agreed that this would be extremely useful. See issue #21.

[2017-10-02 20:49] lawrentiy commented on #27
You can put bundled client script to any server you want:
1. CDN
2. separated server
3. the same server or actually put it to the meteor app folder and deploy as you have deployed meteor app before
4. etc.

[2017-10-31 21:14] darkbasic commented on #5
Closing due to inactivity and cleanup.
Feel free to open a new issue if you are still affected.

[2017-10-31 21:14] #5 closed

[2017-10-31 21:23] darkbasic commented on #30
Closing due to inactivity and cleanup.
Feel free to open a new issue if you are still affected.

[2017-10-31 21:23] #30 closed

[2017-10-31 21:29] darkbasic commented on #33
Please share a repository showing the issue. I'm closing this.

[2017-10-31 21:29] #33 closed

[2017-10-31 21:31] darkbasic commented on #41
A workaround is available: https://github.com/Urigo/Ionic2CLI-Meteor-WhatsApp/issues/124#issuecomment-340248953

[2017-11-01 11:38] Urigo commented on #27
thanks @lawrentiy

[2017-11-01 11:38] #27 closed

[2017-12-09 12:00] megaslimegod commented on #21
KeithGillette, have you had any luck with a work around here?

[2017-12-09 13:02] megaslimegod opened #50 "Bundler failing"
After using the bundler regularly, now I am getting;

F:\projects\meteor-switcher>meteor-client bundle --config=meteor-client.config.prod.json --destination=client/meteor/meteor-prod-client.js
C:\Users\rober\AppData\Local\.meteor\packages\meteor-tool\1.6.0_1\mt-os.windows.x86_64\dev_bundle\lib\node_modules\meteor-promise\promise_server.js:218
      throw error;
      ^

Error: Error: Could not ins

[2017-12-09 13:11] megaslimegod commented on #50
Ok, I fixed this by upgrading my git installation to 2.15.1.windows.2.

[2017-12-09 13:11] #50 closed

[2017-12-09 14:22] megaslimegod commented on #21
I have a solution!!!  The reason your solution doesn't work is because webpack changes the order of the code, and moves the imports before the const meteorClientConfig definition.

But the environment.ts is in-lined BEFORE this code!!!

So, if you put that code in the environment files, which makes plenty of sense, then you are sorted.  The --environment= now works.  Yes!!

[2017-12-09 20:22] KeithGillette commented on #21
Thanks for figuring that out, @megaslimegod! This method for dynamically configuring such very basic parameters is more than a bit kludgy, but it does work!

[2017-12-09 20:22] #21 closed

[2017-12-10 20:23] psnfrench commented on #18
Is there any update as to how to get this working? I have tried installing the @whtsky version as above, but it gives me `npm ERR! No valid versions available for @whtsky/meteor-client-bundler`

[2017-12-10 20:37] KeithGillette commented on #39
@robatswitchcraft: Please see the the recent comments on issue #21 for a work-around allowing use of Angular CLI `environment` files to set the `DDP_DEFAULT_CONNECTION_URL`.

[2017-12-11 06:19] whtsky commented on #18
@psnfrench I might have unpublished it by mistake, sorry.
should works now

[2017-12-11 18:46] psnfrench commented on #18
Thanks @whtsky it works perfectly now. I hope this get merged into the master branch soon as its quite limiting without it.

[2017-12-13 00:34] alexbaron50 opened #51 "Angular 5 & Angular CLI & Angular Universal - SSR"
I have managed to integrate the MCB with an Angular application and make it work with Angular Universal on the server.

To make it work I just modified the angular-cli.json file to include the generated bundler script like this:

[code]
With this configuration a new file `script.[hash].bundle.js` is generated and it contains the needed meteor scripts to connect to the meteor server.

To resolve th

[2017-12-19 04:41] bo01ean commented on #23
https://github.com/Urigo/Ionic2CLI-Meteor-WhatsApp/issues/73#issuecomment-352637869

Can I add this if anyone is interested?

[2017-12-19 12:51] vv001 opened #52 "Run command (meteor-client:bundle) raises an error (spawnSync meteor ENOENT)"
Hello,

After performing an ‘npm install’ and downloading additional necessary packages I try to run my project locally with the following command: npm run meteor-client:bundle (on mac os high sierra)

This executes the following in my config:
“meteor-client:bundle”: “meteor-client bundle -s api -c meteor-client.config.json --url http://192.168.0.4:3000”

It keeps returning the following error:

O

[2017-12-20 20:41] vv001 commented on #45
Hello, I am running into this issue as well on macos high sierra. Have you been able to resolve it by any chance?

[2017-12-29 20:15] zetekla opened #53 "Unable to hook meteor-client to React"
hooking the import line into React component (created by create-react-app):
`import 'meteor-client';`

Give the following error on execution:
`Unexpected token < in JSON at position 0` at JSON.parse (<anonymous>)
    at utils.XHRLocalObject.xo.onfinish (meteor-client.js:23899)
    at utils.XHRLocalObject.EventEmitter.emit (meteor-client.js:21488)
    at XMLHttpRequest.that.xhr.onreadystatechange (

[2018-01-16 23:25] ardatan commented on #51
Good job! But I think you have to mock subscribe to pass data. Like immediately calling the callback function of Meteor.subscribe.

[2018-02-10 17:24] robport opened #54 "Fails with Meteor 1.6.1"
There are two issues with running the bundler against Meteor 1.6.1.  This results in you getting a "Meteor is not defined" error in the console.

1. In the build of 1.6.1, the global-imports.js file moved has moved directories, hence the bundler is not including it in the meteor-client.js
2. The _OnMigrate method has been removed from Meteor.  You should use Reload._onMigrate instead.

Fixes;
1. I

[2018-02-14 20:23] afaur commented on #54
@robport I tested your changes and they worked great.

To be able to submit a PR to a branch that you do not have access to you can follow these steps...
- Fork the repository (it will make robport/meteor-client-bundler a repo that you have access to)
- Clone the repository locally
- Make the desired changes
- Run `git add -A`
- Run `git checkout -b fix-issue-<number>`
- Run `git commit -m 'Fixes

[2018-02-14 20:26] robport commented on #54
@afaur please go ahead and merge your PR.  Thanks for the credit.

Regards,
Rob

[2018-02-14 20:27] afaur commented on #54
@robport It will be up to the maintainer to merge the changes.
Thanks for your fix on this it helped me out.

[2018-02-14 20:31] robport commented on #54
Ah, gotcha.  I'll know what to do next time.

[2018-02-23 05:42] Slavrix opened #56 "bundler config imports ignored"
`{
  "runtime": {
    "DDP_DEFAULT_CONNECTION_URL": "https:/adadadadadadadadadadad.com.au"
  },
  "import": [
    "meteor-base",
    "mongo",
    "reactive-var",
    "jquery",
    "tracker",
    "standard-minifier-css",
    "abernix:standard-minifier-js",
    "es5-shim",
    "ecmascript",
    "shell-server",
    "accounts-base",
    "slavrix:account-password-dupeemail",
    "alanning:roles"
  ]
}`

[2018-02-23 05:54] Slavrix commented on #56
if i remove the angular-compilers package first, then i still get the messages of those missing css files.
any thoughts on what might be causing it?
these are all my packages

meteor-base
mongo
reactive-var
jquery
tracker
standard-minifier-css
es5-shim
shell-server
accounts-base
npm-bcrypt
reywood:publish-composite
http
alanning:roles
check
email
ecmascript
angular-compilers
abernix:standard-minif

[2018-02-23 08:22] hayk94 opened #57 "ReferenceError: __meteor_runtime_config__ is not defined"
I am trying to use this with my webpack project

but I get this error

`ReferenceError: __meteor_runtime_config__ is not defined`

Here are the steps I did

create a new meteor project

then I run the client bundler like this

`meteor-client bundle —source=./ —destination=./meteor-client.bundle.js —config=meteor-client.config.json`

and here is the config

    {
      "runtime": {
        "DDP_DEF

[2018-02-25 17:49] impcyber commented on #56
Looking at the code https://github.com/Urigo/meteor-client-bundler/blob/master/lib/bundler.js#L84
--config not used if --source defined

[2018-02-28 23:01] stefanholzapfel commented on #54
I can confirm that the fix works, thank you!

@Urigo Uri can you please merge them in when you have spare minute? Thanks!

[2018-03-15 10:25] vv001 commented on #52
We were able to finally resolve it. The issue was that we were missing some symlinks to the right directory (containing the meteor files), in order to make the meteor bundle build/run.

[2018-03-17 17:12] #54 closed

[2018-03-17 17:30] Urigo commented on #54
thank you everyone for the fix and the testing!
just merged and released version `0.4.0`.
Please let me know if that works for you.
Sorry for the late response from me

[2018-03-17 17:37] Urigo commented on #57
please try again with the new `0.4.0` version

[2018-03-17 17:39] Urigo commented on #52
thank you @vv001 for the info.
Can you give an example of those symlinks so others can benefit from it?
thanks

[2018-03-17 17:39] #52 closed

[2018-03-17 17:41] Urigo commented on #45
@vv001 are you still facing that issue with the new version?

[2018-03-17 17:47] #31 closed

[2018-03-18 12:01] Urigo commented on #18
merged and released in `0.5.0`.   took a while but finally landed, sorry about that

[2018-03-18 12:01] #18 closed

[2018-03-18 13:47] vv001 commented on #52
Hello Uri, the symlink was to the meteor server files, which we use to bundle the client with. Creating a symlink and than running the bundler resolved this issue.

[2018-03-19 16:23] #57 closed

[2018-03-19 16:24] #45 closed

[2018-03-20 22:05] stefanholzapfel commented on #54
@Urigo Works like a charm, thanks!

[2018-03-21 00:03] royGil commented on #53
For anyone facing that error, make sure that meteor is running on port 3000, mongo on 3001 and dev-server on anything else

[2018-03-27 01:25] katusiky opened #58 "How sign in/up with Facebook"
I have 3 app.

Meteor = api.example.com
Web = example.com
Mobile = mobile.example.com

How do I configure XX to redirect to WEB or MOBILE as the case may be?

i follow https://angular-meteor.com/tutorials/whatsapp2/ionic/facebook but i cant setup to 3 diferents subdomains.

Thanks.

[2018-07-18 22:08] gchallen opened #60 ""document.createElement is not a function" When Used With React Native"
I'm following something like the example integration with React Native but encountering the following problem right after the device connects:

[code]
Note that the line numbers appear to be incorrect, but the error seems to being generated by this code in the generated bundle:

[code]

I'm not a Meteor expert but it seems that the server is pushing some document with a special ID that is causing

[2018-07-18 22:16] gchallen commented on #9
Given #60 it appears that `delete Package.reload;` might be a better option. Can that PR be cleaned up and incorporated?

[2018-07-18 22:54] ardatan commented on #60
How could you produce this issue?
And could you please update `react-native-meteor-polyfills` to 1.0.6?

[2018-07-26 06:17] portah opened #64 "writeRuntimeConfig=false, always append"
If I set writeRuntimeConfig to false in config file, the old file does not delete. The original code:
[code]

maybe there should be else to write empty file?

[code]

[2018-07-26 15:39] tiagomsmagalhaes opened #65 "env: node\r: No such file or directory"
i installed this module in a angular-cli generated project following the README and this link https://medium.com/@ardatan/angular-cli-meteor-no-more-eject-webpack-configuration-4e718aa855b6

and when I try to bundle `./node_modules/.bin/meteor-client bundle -s api` I get that error `env: node\r: No such file or directory`.

There are similar issues on other repos like this one https://github.com/J

[2018-07-27 22:21] vephinx commented on #29
I get the same error. Did you find a solution for this? Thanks.

[2018-07-27 22:24] ardatan commented on #29
Run
‘meteor remove static-html’ in your Meteor project

[2018-07-30 16:39] vephinx opened #66 "Using create-react-app gives errors when building"
I am trying to use this with [create-react-app](https://github.com/facebook/create-react-app) similar to how it is done in [ReactNativeMeteorBoilerplate](https://github.com/DAB0mB/ReactNativeMeteorBoilerplate).

I add `meteor-client.js` to `node_modules/` and then I can write `import 'meteor-client';` and everything works as expected when running `npm start`.
However in [create-react-app](https://

[2018-08-06 20:33] tafelito opened #67 "Error: Cannot find module 'rimraf'"
Installing latest MCB throws this error about the `rimraf` dependency. I saw this was added later, not sure why it might not being installed as it appears as a dependency. I tried to install it manually but is still failing

Any ideas?

[2018-08-07 20:03] ardatan commented on #67
Could you update `meteor-client-bundler` to `0.5.8`

[2018-08-08 03:34] tafelito commented on #67
the error is gone but the bundle still not working. I created a new react app using create-react-app and then a new meteor app with the --bare option. The first error happens when running the bundler. It says `While processing files with static-html (for target web.browser.legacy):
client/main.html:12: Expected <head> or <body> tag`. I solved that by removing the static-html package from the meteo

[2018-08-08 03:34] ardatan commented on #67
Just remove `static-html` from `.meteor/packages`.

[2018-08-08 03:35] tafelito commented on #67
Yes, as I put on my comment I had to do that in order to start the meteor app. But then the react app is the one failing now

[2018-08-08 03:37] ardatan commented on #67
Then, you have to use custom bundler configuration instead of using `-s` parameter.

[2018-08-08 03:38] tafelito commented on #67
this is how I run the bundler `meteor-client bundle -s api --url http://localhost:8000` and the meteor-client.js is being genereated under node_modules

[2018-08-08 03:46] tafelito commented on #67
Ok I created a config file and now it seems to be working. I copy the default config from the bundler. Not sure what is the difference tho.

Thanks

[2018-08-08 03:48] ardatan commented on #66
I guess babel adds `use-strict` on the top of file. I recommend to import `meteor-client` from `node_modules`.

[2018-08-08 04:53] tafelito commented on #67
There is actually one more thing. I had to add the react-meteor-data on the imports section of the config file and also react & react-dom as an external npm package but I'm still getting a warning that react-meteor-data requires react as a peerDependency.

Also when trying to use Meteor.user() it throws this error `Uncaught TypeError: __WEBPACK_IMPORTED_MODULE_1_meteor_meteor__.Meteor.user is not

[2018-08-08 08:04] dc165015 opened #68 "SyntaxError in new projects"
When I created new meteor projects under meteor release 1.7.0.3/1.7.0.4/1.7.1, all will report this error while running command meteor-client bundle.

/Users/dc/.meteor/packages/meteor-tool/.1.7.0_4.10zz7at.hn36++os.osx.x86_64+web.browser+web.browser.legacy+web.cordova/mt-os.osx.x86_64/dev_bundle/lib/node_modules/meteor-client-bundler/node_modules/babel-core/lib/transformation/file/index.js:558

[2018-08-08 08:17] ardatan commented on #68
Could you reproduce a repo?

[2018-08-08 10:03] dc165015 commented on #68
I am trying to uninstall all meteor and npm pkgs and do it again. if that fails again, I will upload that repo.

[2018-08-08 15:35] tafelito commented on #67
Yes I did that, but I still get the warning

[2018-08-08 17:47] tafelito commented on #67
I'm also trying to add any of this packages `blaze-html-templates gadicc:blaze-react-component` so I can load Blaze templates from react but the first one is totally being ignored even when generating the tmp meteor project before bundling it and the other one it does seems to get it bundled but when I try to import it it says module not found

[2018-08-08 18:49] ardatan commented on #67
Please do not add any html package to meteor client configuration.

[2018-08-08 21:11] tafelito commented on #67
so how do I load the Blaze template?
I'm not able to load the accounts-ui package templates nor the accounts-password
I just want to run the todo app demo that uses the accounts-ui package

[2018-08-09 04:47] katusiky commented on #68
me too. i cant resolve this

[2018-08-09 10:37] dc165015 commented on #68
I spent almost 1 day to reinstall meteor, downloading meteor is VERY slow and easily to be BROKEN here in China.
I am sure it comes from the bundler. Before runs meteor-client-bundler, the src of ~/.meteor/packages/srp/1.0.10/os-legacy/packages/srp.js (Line#1383) is `var ret = _.extend({},` _defaults);
After runs meteor-client-bundler, the compiled src became: /var/folders/yk/dk4tpyws2dxc9_k2gjdll

[2018-08-09 13:45] kombadzomba commented on #68
Here too. It just started to happen few days ago.

[2018-08-09 14:38] kombadzomba commented on #68
Please help. Provide some kind of workaround at least. This is a big blocker for us. We can not deploy new app versions without meteor client bundle and the oddest thing is that these kind of blocking errors just occur out of nowhere and we can not do much about it.

[2018-08-09 15:12] kombadzomba commented on #68
Workaround:
`meteor add srp@=1.0.10`
Then edit `meteor-client-config.json` and add `srp@=1.0.10` to import.

[2018-08-09 15:18] dc165015 commented on #68
@kombadzomba  you save my day.

[2018-08-09 16:17] dc165015 commented on #68
In case of missing core-js related to this meteor-client-bundler,  there is another [patch](https://github.com/Urigo/angular-meteor/issues/1941#issuecomment-411521477)

[2018-08-09 16:21] katusiky commented on #68
for me not work.

now the error is:
`/home/jose/.nvm/versions/node/v8.9.4/lib/node_modules/meteor-client-bundler/node_modules/execa/index.js:277
                throw (result.error || new Error(result.stderr === '' ? result.stdout : result.stderr));
                ^

Error: null
    at Function.module.exports.sync (/home/jose/.nvm/versions/node/v8.9.4/lib/node_modules/meteor-client-bundler/node_m

[2018-08-09 16:54] kombadzomba commented on #68
@katusiky you have some other issue, I suppose related to:
https://github.com/Urigo/meteor-client-bundler/issues/17

It seems that you have installed meteor-client-bundler globaly. I'm using it as dev package, project related. Check if you are using the latest version of the package and clear the NPM cache.

[2018-08-09 18:49] KeithGillette commented on #68
We are also experiencing this error under `meteor-client-bundler@0.5.0` on a Meteor@1.7.0.1 project with Meteor 1.7.0.4 global install. I was able to get `meteor-client-bundler` to work again after:
[code]

[2018-08-09 18:56] ardatan commented on #68
It is now `0.5.9`. Please update `meteor-client-bundler` and try again.

[2018-08-09 18:59] ardatan commented on #65
Thank you for your collaboration, but it is not related to this package as you said!

[2018-08-09 18:59] #65 closed

[2018-08-12 22:24] shacharsol opened #75 "i get missing css file error on web client page"
i get the following error:

00:55:36.870 meteor-client.js:50154 GET file:///merged-stylesheets.css?hash=58449b0

i guess it is due to hot reload , how to disable it? on production installation?

[2018-08-13 17:15] portah opened #76 "google's search/indexer bot"
I've switched one of my web sites to meteor-client-bundler, everything works as expected. However, recently I found out that google's search console can't render my page.  Based on this info https://www.youtube.com/watch?v=fiT5g9KSxmw, https://developers.google.com/search/docs/guides/rendering - I added required polyfills, didn't help. Then I downloaded google chrome build 41.xxx and I tried to op

[2018-08-13 18:40] shacharsol commented on #75
The issue can be resolved by adding the following to Meteor.startup on client:
delete Package.reload;

[2018-08-13 18:40] #75 closed

[2018-08-13 21:06] portah commented on #76
Few updates on this.

1. For angular related polyfills and addons I used angular.io code https://github.com/angular/angular/tree/master/aio/
2. To generate meteor-client.js that compatible with old google chrome. In 'meteor-client.config.json' npm package has to be added ```"npmPackages": [ "babel-preset-env" ]```. Also, 'bundler.js' has to be changed, have added 'presets: [ "env" ]' to Babel.tran

[2018-08-14 01:19] katusiky opened #77 "Facebook login"
How i can login with facebook ? My setup is angular 5 in firebase hosting as www.xxxxx.com and my meteor backend in AWS elastic beanstalk as api.xxxxx.com

[2018-08-18 22:04] atao60 opened #78 "meteor-client-bundler doesn't like 'static-html'"
See demo on github: https://github.com/atao60/angular-meteor-example-AngularCLI-bare. It's in a non working status to show the issue.

The installation is described in detail in the file [HISTORY](https://github.com/atao60/angular-meteor-example-AngularCLI-bare/blob/master/HISTORY.md).

Trying to set up a minimal configuration to be used with `meteor-client-bundler`, I started from scratch and use

[2018-08-18 22:13] ardatan commented on #78
I will look at this issue soon, but PRs are welcome :)

[2018-08-19 10:59] atao60 commented on #78
I have no clues on what direction to get.
MCB have a very indifferent policy about what can be taken in account as meteor packages.
In this spirit, if 'static-html' is there, MCB must keep it? Then please it by providing a dummy file `client/main.htm`, something like an empty body `<body></body>`.

[2018-08-28 06:23] Slavrix opened #81 "Accessing Meteor.settings on client side"
In order to access the Meteor.settings that would be available to the client, do the variables need to be wrapped in public in the settings file that would be used when building using meteor ?

or is there another step that is required to get them to be accessed via MCB

how does MCB get told which settings file to use when it bundles ?

[2018-08-28 07:07] Slavrix commented on #81
OK, on reading through the bundler i worked out that to make settings accessible through this bundler they need to be added to the bundler config file

{
  "runtime": {
    "DDP_DEFAULT_CONNECTION_URL": "https://your.url.com",
    "PUBLIC_SETTINGS": {
      "aSetting":123
    }
  }
}

it might be worth adding this to the doc just for some clarification.

[2018-08-28 07:07] #81 closed

[2018-08-31 19:41] gchallen opened #82 "setTimeout Warnings, Data Consistency Crashes When Using React Native"
I've integrated a bundle built into this tool into a React Native application. Unfortunately, I've encountered a few problems that are showstoppers for us. So at this point I'm trying to decide whether to give up on getting Meteor to work and try GraphQL or keep trying.

The first problem is that Meteor tries to set long timers, which immediately trigger Yellow Box warnings when using React Native

[2018-09-06 07:55] NexusLee opened #83 "command get stuck"
![20180906155033 png](https://user-images.githubusercontent.com/4703440/45143221-3a671600-b1ed-11e8-89b7-bcfb41c3fae0.png)

meteor:  1.7.0.5
meteor-client-bundler: 0.5.9

[2018-09-10 02:49] #83 closed

[2018-09-10 07:49] bazzila commented on #23
try this

{
    "runtime": {
    "DDP_DEFAULT_CONNECTION_URL": "http://domain.tld:3000",
        "ROOT_URL": "http://domain.tld:80",
        "PUBLIC_SETTINGS": {
        "facebook": {
            "permissions": ["basic_info", "user_interests", "user_activities", "read_friendlists"],
            "profileFields": ["name", "gender", "location"]
        }
    }
},
    "import": []
}

[2018-09-15 06:59] fangjj commented on #66
i hit the same error! when I run
```npm run build```
 I get the error Fail`d to minify the code from this file:

 	./node_modules/meteor-client.js:5853

[2018-09-15 07:55] fangjj commented on #66
i found this is because the meteor-client.js include e6, but create-react-app minify the code only in es5, so, i use uglifyjs-webpack-plugin which can use es6.

[2018-09-15 16:49] fangjj commented on #66
use web.browser.legacy is ok!

[2018-09-15 18:00] ardatan commented on #66
So you issue has been solved by settings arch to `web.browser.legacy` in bundler configuration, right?

[2018-09-16 00:57] fangjj commented on #66
yes

[2018-09-18 10:53] DarkChopper commented on #51
Hi @ardatan,
What do you mean by to mock subscribe to pass data? do you have a quick example?
I have done the exact same step as @alexbaron50 in angular 6 and i'm facing the exact same issue.

[2018-09-20 12:23] kombadzomba opened #85 "ES5 generated output"
Is there a way to generate ES5 output? IE11 reports syntax errors on ES6 code that client bundler generates at the moment (arrow functions etc...).

**meteor-client.config.json**
[code]

[2018-09-20 17:42] kombadzomba commented on #85
I guess we should transpile the generated bundle file with `webpack` using `babel-loader` for example. Are there any recomendations for loader options?

[2018-09-20 17:46] ardatan commented on #85
You can add arch field to bundler config with config web.browser.legacy.

[2018-09-21 08:43] kombadzomba commented on #85
Thanks @ardatan that's the solution I was looking for.

[2018-09-21 08:43] #85 closed

[2018-09-24 11:59] raza2022 commented on #51
@ardatan I am having the same issue as @DarkChopper mentioned. do you have example of it. @DarkChopper have you solved it?

[2018-09-26 12:45] fangjj opened #86 "after meteor build, why put all package into a big meteor-client.js?"
use config web.browser.legacy build meteor-client.js is too big, almost 2.5M. i don't know why put all packages in a javascript file. please explain it. thank you.

[2018-09-27 11:47] fangjj commented on #86
@Urigo any help?

[2018-09-27 11:49] ardatan commented on #86
You can add your configuration these settings to use node libraries externally;
[code]

[2018-09-27 11:53] #86 closed

[2018-09-27 11:54] ardatan commented on #82
You can see that this is not directly related to meteor-client-bundler. This warning or issue whatever you call it is caused because of the way Meteor handles real-time connection between client and server.

[2018-09-27 11:55] #82 closed

[2018-09-27 11:56] ardatan commented on #77
You can see Meteor's documentation about Facebook login.
https://guide.meteor.com/accounts.html#oauth-logging-in

[2018-09-27 11:56] #77 closed

[2018-09-27 11:58] ardatan commented on #76
You can set `arch` to `web.browser.legacy` in your meteor-client-bundler configuration, so you can get compatible client bundle.

[2018-09-27 11:58] ardatan commented on #58
See #77

[2018-09-27 11:58] #58 closed

[2018-09-27 12:00] ardatan commented on #44
You can just use `generateNodeModules` option in meteor-client-bundler configuration.

[2018-09-27 12:00] #44 closed

[2018-09-27 12:00] #56 closed

[2018-09-28 02:53] portah commented on #76
@ardatan I did not know, about that, thank you. I'll definitely try it

[2018-10-01 19:41] DarkChopper commented on #51
@raza2022 Nope, i haven't yet..  I'm still running into it.

[2018-10-07 13:53] #68 closed

[2018-10-09 17:19] katusiky commented on #77
@ardatan  this dont work for me example.

@Urigo can u help me please?

Thanks

[2018-10-09 17:20] katusiky commented on #58
@ardatan  this dont work for me example.

@Urigo  can u help me please?

Thanks

[2018-10-10 01:59] ardatan commented on #58
@katusiky Can you give more details?

[2018-10-10 14:47] katusiky commented on #58
@ardatan I need login with facebook from my client.

when i try login from client, facebook automatically redirect to server subdomain and never redirect again to client.

i cant create nginx config to 3 differents subdomains.

[2018-10-15 15:16] lgleim opened #87 "Uncaught TypeError: Cannot read property 'versions' of undefined at autoupdate_client.js"
With Meteor 1.8, when trying to include the bundled meteor-client.js file as usual, loading the page fails with a fatal error:

[code]

The issue is that the `__meteor_runtime_config__.autoupdate` property in the bundled client is undefined:
![capture](https://user-images.githubusercontent.com/3898904/46959989-af0b5b00-d09d-11e8-8609-a020fa2f891f.PNG)

[2018-10-16 07:39] lgleim commented on #87
I submitted a proper bugfix in upstream meteor code: https://github.com/meteor/meteor/pull/10281

For the time being, a workaround is to add corresponding runtime configuration to the `meteor-client.config.json`, e.g.

[code]

[2018-10-16 13:50] KeithGillette commented on #87
Thanks for the forthcoming fix, @lgleim. This happens to us even though we're still using `Meteor@1.7.04` locally. Is there a way to pin the Meteor release or package versions in `meteor-client-bundler`? This is not the first time that Meteor releases we haven't even installed have broken our build process, sorely tempting me to remove Meteor from our client altogether.

[2018-10-16 13:55] lgleim commented on #87
Hi @KeithGillette, I am in no way familiar with the inner workings of the meteor bundling/build process but from the meteor-client-bundler documentation I suppose that is what the  `release` config option might be there for (c.f. Readme). The best way to find out though would probably be looking at the code of this project though

[2018-10-16 16:05] mahadoang opened #88 "meteor.bundle.js:22318 Uncaught TypeError: Cannot read property 'versions' of undefined"
METEOR@1.8

meteor.bundle.js:22318 Uncaught TypeError: Cannot read property 'versions' of undefined
    at autoupdate_client.js (meteor.bundle.js:22318)
    at fileEvaluate (meteor.bundle.js:1536)
    at Module.require (meteor.bundle.js:1439)
    at _require (meteor.bundle.js:1458)
    at meteor.bundle.js:22490
    at meteor.bundle.js:22496

[2018-10-16 16:35] ardatan commented on #88
Same with #87
Let's continue there.

[2018-10-16 16:35] #88 closed

[2018-10-17 01:42] linegel opened #89 "Broken bundle"
Bundling with these settings make react-native app crash with errors about how ostrio:files and eventemiiter (their dependency) built. After researching in it, i found very strange break in generated bundle.

It looks in this way:
`"node_modules": { "eventemitter3": { "package.json": function (_require7, _exports7, _module6) {

                //////////////////////////////////////////////////////

[2018-10-17 01:45] ardatan commented on #89
There is a problem about Meteor 1.8 mentioned here;
https://github.com/Urigo/meteor-client-bundler/issues/87
So could you try to downgrade it to Meteor 1.7.x as a workaround for now.

[2018-10-17 01:57] ardatan commented on #89
You can add two fields, and install dependencies in externalNpmPackages field seperately in your project. I can suggest this for workaround. Let me if it works or fails.
[code]

[2018-10-23 17:01] portah commented on #76
I believe that worked

[2018-10-23 17:01] #76 closed

[2018-11-01 09:19] HedCET opened #92 "GET https://localhost:3000/sockjs/info?cb=wbahrwm5br net::ERR_CONNECTION_CLOSED"
i'm getting this error
```GET https://localhost:3000/sockjs/info?cb=wbahrwm5br net::ERR_CONNECTION_CLOSED```
& Meteor is undefined

<img width="637" alt="screenshot 2018-11-01 at 2 48 57 pm" src="https://user-images.githubusercontent.com/1794209/47843356-5948e980-dde5-11e8-9cb1-616876eb2c6e.png">

[2018-11-01 09:21] ardatan commented on #92
Is Meteor server running that time?

[2018-11-01 09:47] HedCET opened #93 "Uncaught ReferenceError: Meteor"
after including client bundle Meteor is missing in console [hosted version](https://uspto-delta.herokuapp.com/meteor.client.js)

meteor-client-bundler - 0.5.9
meteor - 1.8

[code]

<img width="635" alt="screenshot 2018-11-01 at 3 10 01 pm" src="https://user-images.githubusercontent.com/1794209/47844729-286ab380-dde9-11e8-8398-5b8035855afd.png">

[2018-11-01 10:46] HedCET commented on #93
solved with
[code]

[2018-11-01 10:46] #93 closed

[2018-11-16 18:29] katusiky opened #94 "How sign in/up with Facebook"
I have 3 app.

Meteor = api.example.com
Web = www.example.com
Mobile = mobile.example.com

How do I configure XX to redirect to WEB or MOBILE as the case may be?

i follow https://angular-meteor.com/tutorials/whatsapp2/ionic/facebook but i cant setup to 3 diferents subdomains.

Thanks.

[2018-11-16 21:37] gustawdaniel commented on #78
@ardatan do you think we should add message about there is no point use `static-html` with `meteor-client-bundler` if this package would be detected?

I suggest add to docs info that anyone should remove this package, because of it is added by default to `meteor create --bare`.

In article

this is not mentioned because of on list of packages installed by default by meteor

`static-html` is not li

[2018-11-17 12:49] gustawdaniel commented on #18
Now you can fix this error adding `simpl-schema` to list of packages in file `meteor-client.config.json`

[code]

I confirm it works.

[2018-11-18 14:41] Urigo commented on #77
@katusiky can you please create a reproduction on Github and share it here?

[2018-11-22 16:22] 6at9l commented on #51
Hi, i use anular 6 and MCB, but now needed add SSR in my project, it is possible to use MCB with SSR on the server side ?

[2018-11-27 11:04] maximtmartin commented on #60
Any idea how to fix this problem?

I'm using:
"react-native-meteor-polyfills": "1.0.9",
"react-native": "0.57.2",

[2018-11-27 18:43] #60 closed

[2018-12-06 08:42] Phazeoner opened #95 "Error: Cannot find module 'react'"
Hi
For the first time everything worked. I added a new dependency and run mcb again, now have this error. What should I do?
![2018-12-06 11 05 16](https://user-images.githubusercontent.com/28909288/49571911-9a379f00-f94b-11e8-8eaf-5ff411486772.png)

My config

` "import": [
    "meteor-base",
    "mongo",
    "cfs:standard-packages",
    "cfs:gridfs",
    "react-meteor-data"
  ],
  "externalNpmPac

[2018-12-06 08:56] ardatan commented on #95
Do you have react installed on the project you’re running the client bundle?

[2018-12-06 09:12] Phazeoner commented on #95
Yes

`"dependencies": {
    "@babel/runtime": "7.0.0-beta.51",
    "meteor-client-bundler": "^0.6.0",
    "meteor-node-stubs": "^0.4.1",
    "react": "^16.4.2",
    "react-dom": "^16.4.2",
    "react-router": "^4.3.1"
  },
  "scripts": {
    "start": "react-scripts start",
    "build": "react-scripts build",
    "test": "react-scripts test --env=jsdom",
    "eject": "react-scripts eject",
    "mcb

[2018-12-07 08:46] JanvanCasteren opened #96 "meteor 1.8 - angular"
should meteor-client-bundler work with meteor 1.8? I use it in an angular frontend and it doesn't work anymore since upgrading meteor from 1.6 to 1.8.

[2018-12-07 11:06] georgyberdyshev commented on #96
Hello @JanvanCasteren,

meteor-client-bundler does not work yet with Meteor 1.8.
As a workaround, please follow the steps in:
https://github.com/Urigo/angular-meteor/pull/1957#issuecomment-444721945

Georgy

[2018-12-08 22:52] shacharsol opened #97 "The core-js npm package could not be found in your node_modules, while using the client bundle in Internet explorer 11"
I added both to bundler.config.json and npm's package.json , but it always fail with this error

[2018-12-10 12:31] Phazeoner commented on #95
I created a new project and the same error 😕

https://github.com/Phazeoner/meteor-client-bundler-test

[2018-12-13 19:08] charpeni commented on #95
It doesn't work.

Looks like something change about module requires in Meteor 1.8:

@ardatan Do you have any ideas?

[2018-12-14 02:46] fangjj commented on #95
"import": [ "meteor-base", "mongo", "cfs:standard-packages", "cfs:gridfs", "react-meteor-data" ], "npmPackages": [ "core-js", "@babel/runtime", "meteor-node-stubs", "react" ],"npmInstall": true,

[2018-12-14 12:49] Phazeoner commented on #95
It works! Thanks for your help 👍

[2018-12-14 12:49] #95 closed

[2019-01-14 21:42] bmanturner commented on #97
Same issue on react-native

[2019-02-21 16:13] kombadzomba commented on #96
We have Meteor 1.8.2, using meteor-client-bundler 0.6.0 with client parameter "release": "1.7.0.5" as stated in the workaround. However, we experience occasional node process crashes with following error:

[code]

Could this be related to meteor-client-bundle version mismatch?

[2019-03-11 20:30] Deadly0 commented on #89
@ardatan i've got similar issue but with React in meteor 1.8. In the bundle i've got the code:
[code]

and error `Uncaught Error: Cannot find module 'react'` referring to the code above

My config is
[code]

maybe i've missed something?

[2019-07-08 14:05] pisacode opened #103 "User is lost after refresh"
Hi, I am using this within a react native app. If you login with a user than kill and reopen the app, the user does not exist anymore. How can i restore the user after a refresh or kill than open scenario?

[2019-07-09 20:44] kombadzomba commented on #96
@ardatan @urigo is this package dead or what?

[2019-07-29 05:22] Slavrix opened #105 "__meteor_runtime_config__ is not defined error has returned."
[code]

Currently using Angular 8 and Ionic 4 on the frontend, connecting to a meteor backend using 1.8

my bundler.config.json
[code]

[2019-07-30 19:18] tehXor commented on #105
Same problem for us after upgrading an Angular 7.2 client to Angular 8 (also Meteor 1.8 on the backend). It worked without problems beforehand.

Im somewhat guessing it is due to the `compilerOptions` in `tsconfig.app.json` which require the `module` flag `commonjs` or `esNext` for Angular 8 to work but would require `es2015` for the bundled meteor client to work.

[2019-07-31 04:08] ardatan commented on #103
Check this;
https://github.com/DAB0mB/ReactNativeMeteorBoilerplate

[2019-08-01 13:34] #103 closed

[2019-08-02 01:26] evolross commented on #9
If you disable hot code push, how does the client ever get a new version? Only if they reset their cache?

[2019-08-02 04:36] ardatan commented on #9
Because client apps using Meteor backend don’t compile using Meteor.

[2019-08-10 08:09] Slavrix commented on #96
@ardatan id love to assist with getting this package updated, but i dont know where to start.

[2019-08-11 15:50] Slavrix commented on #105
Ok
I've been playing around and I found that my `ng serve` was working locally.
I also found that if I did `ng build --watch` and then served the result from the output dir, it would also work.
This got me thinking that angular 8's differential loading could be whats causing the issue.

I changed my browserlist to `> 5%` which only outputs a single set of files (which are es2015)
This seems to be

[2019-08-16 08:44] JanvanCasteren commented on #96
I have a working project with angular cli 7.3.9 version and meteor 1.8.1 version which uses meteor-client-bundler.

It took me quite some time to get around all typescript errors but eventually I got it working. I planned to extract a starter project from it to share on github, but didn't find time yet.

If anyone needs help to achieve a setup with angular 7 and meteor 1.8, please contact me, so I

[2019-08-16 10:07] georgyberdyshev commented on #96
Let's team up @JanvanCasteren and @Urigo

[2019-10-02 09:11] SergijeRaz commented on #96
Hi @JanvanCasteren . I am having the same problem as @kombadzomba . We are using Meteor version 1.8.0.2, angular cli version 7.2.3 and meteor-client-bundler version 0.6.0. Do you think that you have fixed our problem aswell with the changes you made?

[2019-10-03 12:09] JanvanCasteren commented on #96
I have three meteor-related imports in my angular main.ts:

[code]
my meteor version is 1.8.1

It is important to only import Meteor in main angular file. Don't import it in any of the files of your Meteor folder, because you will have tslint complaining about double declarations.

Versions of the relevant client side packages are
[code]

Could the above information be helpful to you?

The combina

[2019-10-07 09:09] SergijeRaz commented on #96
Hi @JanvanCasteren . Thank you for the quick response. I will try these fixes and let you know if they work. I would also be very thankful if you created a starter project at some point.

[2019-11-08 00:24] linegel opened #113 "Usage examples in order to create browser extension with bundle?"
Amount of things that becomes "enabled" with bundled meteor already amazing (saying as a user of meteor-client-bundler with React Native on a work project for more than a year). I pretty sure than the current bundle already can be used within browser (chrome/firefox) extension, but will be very interesting to have a look at already established projects if any, otherwise will start to work on it by

[2020-03-04 16:56] OlivierChirouze commented on #105
Hi, I'm running through the same issue here but don't understand @Slavrix tip.
Can you please give more details on how to "change browserlist value"?
Thanks

[2020-03-04 17:01] OlivierChirouze commented on #105
Ok found it!
(should have looked better 😁)
So there's a file named `browserslist` at the root of the angular project, this is the file that needs to be limited to
`> 5%`
And it did indeed fix the issue!
Thanks a lot.

[2020-12-07 00:08] Muhammad-Zaryaab-Shahbaz commented on #8
@FinalDes I see the comment is from 2017.
But for others, it can be done using mup.js in web.
~ mup setup
It setups the application for your server.
~ mup deploy
It deploys the app to the server.
Rest is the angular application, you can build the application using
~ ng build --prod
Then you may copy the dist folder to your server directory that is being listened.

Let me know if there exists a pro

[2021-01-14 19:16] bharath2212 commented on #95
I don't know where I add this code?

[2021-10-18 17:49] renovate[bot] opened #133 "Dependency Dashboard"
This issue lists Renovate updates and detected dependencies. Read the [Dependency Dashboard](https://docs.renovatebot.com/key-concepts/dashboard/) docs to learn more.<br>[View this repository on the Mend.io Web Portal](https://developer.mend.io/github/Urigo/meteor-client-bundler).

## Config Migration Needed

 - [ ]  Select this checkbox to let Renovate create an automated Config Migration PR.

##

[2021-12-23 08:56] Slavrix commented on #105
And this is back again with an angular 13/ionic 6 project with meteor 2.5.1

[2022-01-03 08:36] OlivierChirouze commented on #105
@Slavrix did you find any solution?
My `browserslist` (in `package.json`) is still set to `> 5%` but it fails when trying to upgrade from Angular 11 to Angular 13.

[2022-01-05 02:27] Slavrix commented on #105
I haven't been able to get it to work yet with angular 13
still working with angular 12 though/

[2022-01-10 08:48] Slavrix commented on #105
Ok, I have tried to start having a look through, and I think that for some reason, how angular 13 is importing meteor-client.js it doesnt have access to setting globals (or something like that)
I went through and was able to get the `__meteor_runtime_config__` to work by doing this
[code]
see the added window.
This then opened another error further down (around like 200ish)
where it couldn't set `

[2022-06-22 10:31] technicalbirdVayuz opened #136 "Does it supports Dynamic Imports?"
A Feature from Flow Router

[2022-06-28 21:24] JacquesRobin opened #137 "npm WARN deprecated core-js@2.6.12"
Running
npm install -g meteor-client-bundler
generates the following warining:

npm WARN deprecated core-js@2.6.12: core-js@<3.23.3 is no longer maintained and not recommended for usage due to the number of issues. Because of the V8 engine whims, feature detection in old core-js versions could cause a slowdown up to 100x even if nothing is polyfilled. Some versions have web compatibility issues. P

[2022-11-07 01:20] ni-vo opened #138 "babel-core SyntaxError: Unexpected token"
Hello,

Randomly meteor-client-bundler has stopped working for me. When trying to bundle I get the following error:

[code]

I am using version 0.6.0.

I have tried:
 * Cloned a previously working branch
 * Deleted node_modules
 * Deleted .meteor
 * Updated meteor to 2.8.0
 * Reinstalled meteor-client-bundler

 Issue seems similar to: https://github.com/Urigo/meteor-client-bundler/issues/68

[2022-11-07 02:06] ni-vo commented on #138
Switching the "babel-core" dependency and import in bundler.js to use the newer "@babel/core" package within meteor-client-bundler solves this issue. I'll try get a PR in